/bootstrap/compiled.php
.env.*.php
.env.php
/node_modules
/public/addons
/public/hot
/public/storage
/public/uploads
/storage/*.key
/vendor
/temp
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
.idea/

updates/
composer.lock
*.lock
resources/lang/en.json
.env

.phpintel/
.htaccess
.user.ini
error_log
php.ini
composer.phar
